<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    Name:
    <input type="text" name="name" value="{{view.name}}"><br><br>
    Age:
    <input type="number" name="age" value="{{view.age}}"><br><br>
    Email:
    <input type="email" name="email" value="{{view.email}}"><br><br>
    DOB:
    <input type="date" name="dob" value="{{view.dob|date:'Y-m-d'}}"><br><br>
    <button type="submit">update</button>
    </form>
</body>
</html>